.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    padding: 0 1rem;
    
    .header__nav--brand {
        padding: .5rem;
        color: white;
    }
    .header__nav--ul {
        list-style: none;
        display: inline-flex;
    }
    .nav__link {
        display: inline-block;
        text-decoration: none;
        padding: .5rem;
        color: white;
    }
    .nav__CV {
        padding: .5rem;
        margin: .5rem;
        color: white;
        background-color: 0;
    }
}