@import './mediaQueries';
@import './mixins';


.header__nav {
    display: flex;
    @include md {
        display: none;
    }
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
    .header__nav--home {
        padding: .5rem;
        color: white; 
        @include nav-link;   
    }
    .header__nav--list {
        list-style: none;
        display: inline-flex;
        z-index: 50;  
        .header__nav--item {
            position: relative;
            width: 100%;
            margin: 0 .5rem;
        }
        .header__nav--item::after {
            @include hoverStyle;
            bottom: 0;
            transform-origin: center;
        }
        .header__nav--item:hover::after {
            transform: scaleX(1);
        }
        .nav__link {
            @include nav-link;
            font-size: 1.2rem;   
        }   
    }
    
    .nav__CV {
        padding: .5rem;
        margin: .5rem;
        color: white;
        background-color: 0;
        border: 1px solid rgba($color: #fff, $alpha: 0);
        border-radius: .2rem;
        text-decoration: none;
        transition: transform .5s;
        &:hover {
            border: 1px solid white;
        }
    }
}

.header__nav--mobile {
    display: none;
    @include md {
        display: block;
    }
    position: fixed;
    top: 5rem;
    right: -300px;
    right: -10rem;
    z-index: 100;
    width: 12rem;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    .mobile__nav--list {
        list-style: none;
        position: relative;
        height: 10rem;
        width: 100%;
        text-align: right;
    }
    .mobile__nav--item {
        margin: 1rem 0;
        margin-right: 3rem;
    }
    .mobile__nav--link {
        text-decoration: none;
        padding-bottom: .2rem;
        color: white;
        position: relative; 
        font-size: 1.2rem;  
    }
    .mobile__nav--link::after {
        @include hoverStyle;
        bottom: 0;
        transform-origin: right;
    }
    .mobile__nav--link:hover::after {
        transform: scaleX(1);
    }
}

.hamburger {
    width: 2rem;
    height: 1.8rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
    .line {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 10px;
        transition: all .8s;
        z-index: 60;
    }
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 5px); 
}
.change .line-3 {
    transform: rotateZ(45deg) translate(-14px, -10px);  
}
.change .line-2 {
    opacity: 0;   
}
.change {
    right: 0;
}