$paragraph_fontSize: 1.2rem;
$main-font: 'Baloo Chettan 2', cursive;
$decoration-font: 'Lobster', cursive;
$colors: (primary__text: #464545 ,secondary__text: #fff, hover__text:#b2bac3);
$bg-colors: (about__section: #f1f7ff, navbar:#1d2935, contact__section: #40536b, footer: #1d2935);