$paragraph_fontSize: 1.2rem;
$main-font: 'Baloo Chettan 2', cursive;
$decoration-font: 'Lobster', cursive;
$colors: (primary__text: #464545 ,secondary__text: #fff, hover__text:#b2bac3, sections__title--text:#152440);
$bg-colors: (about__section: #f1f7ff, navbar:#152440, contact__section: #f1f7ff, footer: #0c1424);