// @import './media-queries';
// @import './mixins';
// @import './variables';


.section {
    margin-top: 1rem;
}
.section__title {
    @include sectionTitle;
}

.section__text {
    @include sectionParagraph;
}

.about__wrapper {
    display: flex;
    justify-content: center;
  
    align-items: center;
    .about__article {
        font-size: 1.2rem;
        color: (map-get($map: $colors, $key: primary__text));
        width: 45%;
        text-align: justify;
        @include md {
            width: 100%;
        }
    }
    .about__img {
        width: 45%;
        display: block;
        @include md {
            display: none;
        }
        .about__img--icon {
            width: 25rem;
        }
    }
}


.section__technologies {
    background-color: map-get($map: $bg-colors, $key: about__section);
    .technologies__info {
        font-size: $paragraph_fontSize;
        color: (map-get($map: $colors, $key: primary__text));
        padding: 1rem 2rem;
        text-align: center;
        
    }
    .technologies__icons--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .technologies__icon--wrapper {
            margin: 1.2rem;
            text-align: center;
            
        }
    }
    .technologies__icon {
        width: 3.5rem;
    }
    .technologies__icon--title {
        text-transform: capitalize;
    }
}
.projects__subtitle {
    padding-left: 2rem;
}
.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    
    .projects__item {
        margin: 1rem 2rem;
        text-align: center;
        position: relative;
    }
}
.projects__item:hover .projects__img {
    opacity: .5;
}
.projects__item:hover .projects__link {
    opacity: 1;
}

.projects__img {
    max-width: 17rem;
    height: 11rem;
    border-radius: .2rem;
    box-shadow: 1px 1px 2px gray;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.projects__link {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: -35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.projects__link-info {
    background-color: rgba($color: #000, $alpha: .7);
    color: white;
    border-radius: .2rem;
    padding: .5rem;    
}
.projects__description {
    margin-top: 1rem;
}

.section__contact {
    background-color: (map-get($map: $bg-colors, $key: contact__section));
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    .contact__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        @include sm {
            padding: 0 .5rem;
            margin-bottom: 0;
        }
        margin-bottom: 2rem;
        .contact__info {
            width: 50%;
            @include sm {
                width: 100%;
                text-align: center;
               
            }
            .contact__info--text {
                display: flex;
                align-items: center;
                @include sm {
                    width: 100%;
                    font-size: .8rem;
                    justify-content: start;
                }
                .contact__icon {
                    width: 2rem;
                    margin-right: .7rem;
                }
                .contact__info--para {
                    padding-left: .7rem;
                    color: (map-get($map: $colors, $key: primary__text));
                    text-decoration: none;
                }
            }
        }
        .contact__socials {
            .contact__icon--social {
                width: 2.2rem;
                // margin-right: 1rem;
                // margin-top: 1rem;
                margin: 1rem 1rem 1rem 0;
                
            }  
        }
        .contact__img {
            width: 50%;
            display: block;
            @include sm {
                display: none;
            }
        }
        
    }
}


.footer__section {
    background-color: (map-get($map: $bg-colors, $key: footer));
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    .footer__text {
        padding: .7rem;
        margin: 0;
    }
    .scroll__top {
        position: fixed;
        bottom: .2rem;
        right: 3rem;
        @include sm {
            right: 1rem;
        }
        .scroll__top--arrow {
            width: 2rem;
        }
    }
}

